<md-tab
  ng-disabled="insuranceTab.parent.isListMode"
  class="insurance-tab"
  label="{{ 'list.insurance.label' | translate }} {{ insuranceTab.parent.tabCompleted(4) }}"
  layout="row"
>
  <md-content class="md-padding" layout="column">
    <div class="tab-content" layout="row" layout-xs="column" layout-align="space-between none" layout-padding>

      <div class="lnr-list-form" flex-gt-xs="50" layout="column" ng-if="insuranceTab.parent.insuranceAllowed()">
        <div class="lnr-list-title">
          <h3 class="md-subhead">
            {{ 'list.insurance.header' | translate }}
          </h3>
        </div>
        <md-select
          placeholder="{{ 'list.insurance.select-value' | translate }}"
          ng-model="insuranceTab.parent.form.coverage_total">
            <md-option
              ng-repeat="option in insuranceTab.parent.coverageOptions"
              value="{{option}}">
              {{ 'list.insurance.up-to-value' | translate }}
              {{ option | currency:"€":0 }}
            </md-option>
        </md-select>

        <p
          ng-if="insuranceTab.parent.form.coverage_total"
          class="md-body-1"
          translate="list.insurance.tip"
          translate-values="{fee: insuranceTab.parent.form.coverage_total / 1000 + '€'}">
        </p>
      </div>

      <div class="lnr-list-form" flex-gt-xs="50" layout="column" ng-if="!insuranceTab.parent.insuranceAllowed()">
        <p>{{ 'list.insurance.no-insurance' | translate }}</p>
      </div>

      <md-divider hide-xs class="lnr-ml lnr-mr-x2"></md-divider>
      <md-divider hide-gt-xs class="lnr-mt" style="border-right: 0;"></md-divider>

      <div flex-gt-xs="50" class="lnr-xs-p-0">
        <div class="lnr-list-title">
          <h3 class="md-subhead">
            {{ 'list.insurance.info' | translate }}
          </h3>
        </div>
        <p class="md-body-1">{{ 'list.insurance.hint-part-1' | translate }}</p>
        <p class="md-body-1">{{ 'list.insurance.hint-part-2' | translate }}</p>
        <a ui-sref="insurance" target="_blank">{{ 'list.insurance.hint-link-label' | translate }}</a>
      </div>
    </div>

    <div class="navigation" layout="row" layout-align="space-between center" layout-margin>
      <md-button class="md-lined" ng-click="insuranceTab.parent.previousTab()">
        {{ 'list.back' | translate }}
      </md-button>
      <md-button
        class="md-raised md-primary"
        ng-disabled="!insuranceTab.parent.form.coverage_total && insuranceTab.parent.insuranceAllowed() && insuranceTab.parent.isListMode"
        ng-click="insuranceTab.parent.nextTab()">
        {{ 'list.next' | translate }}
      </md-button>
    </div>

  </md-content>
</md-tab>
