<div class="lnr-comment" layout="row" ng-show="rating.index < 3 || true === rating.showAll">
  <a ui-sref="user({userId: rating.data.author_id})">
    <img class="lnr-profile-md lnr-mr lnr-clickable" ng-src="{{rating.data.author_picture}}"></img>
  </a>

  <div flex class="lnr-ml">
    <p class="lnr-comment-name md-body-2">
      <span>{{rating.data.author_name}}, {{rating.data.created_at | date : "dd.MM.yyyy"}}</span>
    </p>
    <p class="lnr-comment-content md-body-1">
      <input-stars class="rating" max="5" ng-model="rating.data.score" readonly></input-stars>
    </p>
    <p ng-if="rating.data.message" class="lnr-comment-content md-body-1">
      {{rating.data.message}}
    </p>
  </div>
</div>
