 <md-content class="single-column">

  <div id="slideshow" md-theme="lnr-dark" layout="column" layout-align="center center">
    <!-- BRAND SLIDER -->
    <ul class="cb-slideshow cb-slideshow--brand">
      <li ng-repeat="slide in leaos.cbSlider track by $index">
        <span style="background-image: url('{{slide}}')"></span>
      </li>
    </ul>
    <!-- END BRAND SLIDER -->

    <div class="lnr-page-title md-color-white" layout="column" layout-align="center center">
      <div>
        <img ng-src="app/assets/ui_images/brand-integration/leaos/leaos-logo.png" flex="65"><br><br>
      </div>
      <!-- <h1 class="md-display-1">{{ 'brand-integration.leaos.title' | translate }}</h1> -->
    </div>
  </div>

  <div class="content" layout-padding>
    <div class="lnr-section-title" layout="column" layout-align="center center">
      <h1 class="md-headline">{{ 'brand-integration.leaos.description' | translate }}</h1>
      <h2 class="md-subhead">{{ 'brand-integration.leaos.subdescription' | translate }}</h2>
    </div>

    <!-- BRAND PAGE FEATURES -->
    <div class="md-body-1" layout="column" layout-gt-xs="row" layout-align="center none" layout-padding>
      <div flex-gt-xs="33" layout="column" layout-align="none center" layout-margin class="lnr-m-0">
        <img width="120" height="120" class="lnr-object-fit-contain" src="app/assets/ui_images/brand-integration/leaos/feature_1.png" alt="leaos feature 1">
        <h3  class="md-subhead lnr-center">{{ 'brand-integration.leaos.feature1-title' | translate }}</h3>
        <p class="lnr-center" translate="{{ 'brand-integration.leaos.feature1-description' | translate }}"></p>
      </div>

      <div flex-gt-xs="33" layout="column" layout-align="none center" layout-margin class="lnr-m-0">
        <img width="120" height="120" class="lnr-object-fit-contain" src="app/assets/ui_images/brand-integration/leaos/feature_2.png" alt="leaos feature 2">
        <h3 class="md-subhead lnr-center">{{ 'brand-integration.leaos.feature2-title' | translate }}</h3>
        <p class="lnr-center" translate="{{ 'brand-integration.leaos.feature2-description' | translate }}"></p>
      </div>

      <div flex-gt-xs="33" layout="column" layout-align="none center" layout-margin class="lnr-m-0">
        <img width="120" height="120" class="lnr-object-fit-contain" src="app/assets/ui_images/brand-integration/leaos/feature_3.png" alt="leaos feature 3">
        <h3  class="md-subhead lnr-center">{{ 'brand-integration.leaos.feature3-title' | translate }}</h3>
        <p class="lnr-center" translate="{{ 'brand-integration.leaos.feature3-description' | translate }}"></p>
      </div>
    </div>
    <!-- END BRAND PAGE FEATURES -->

    <br>
    <md-divider></md-divider>
    <br>

    <!-- BRAND BIKES -->
    <h2 class="md-headline lnr-center">{{ 'brand-integration.leaos.test-bike' | translate }}</h2>
    <h3 class="md-subhead lnr-center">{{ 'brand-integration.shared.choose-location' | translate }}</h3>


    <div class="lnr-section-title" layout="column" layout-align="center center">
      <md-menu md-position-mode="target bottom">
        <md-button class="md-right-arrow" md-no-ink ng-click="$mdOpenMenu($event)">
          <p class="md-right-arrow md-headline lnr-m-0">&nbsp;&nbsp;{{ 'shared.' + leaos.currentShop.cityName | translate}}</p>
        </md-button>
        <md-menu-content width="3">
          <md-menu-item ng-repeat="(city, v) in leaos.cities">
            <md-button ng-disabled="!v.bikes.length" md-no-ink ng-click="leaos.currentShop = leaos.cities[city]">
              <p class="md-subhead lnr-m-0">{{ 'shared.' + v.cityName | translate}}</p>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>

    <md-content ng-if="leaos.currentShop.bikes && leaos.currentShop.bikes.length !==0">
      <div flex-gt-xs layout="row" layout-wrap layout-padding layout-align="center center">
        <bike-card ng-repeat="bike in leaos.currentShop.bikes" bike="bike" show-labels="true" flex="100" flex-gt-xs="50" flex-gt-sm="33"></bike-card>
      </div>
    </md-content>

    <div ng-if="!leaos.currentShop.bikes.length">
      <p class="md-subhead lnr-center">{{'brand-integration.shared.no-bikes-found'}}</p>
    </div>
    <!-- END BRAND BIKES -->

    <md-divider class="lnr-mv lnr-mh-x2"></md-divider>

    <div class="lnr-section-title" layout="column" layout-align="center center">
      <h1 class="md-headline">{{ 'brand-integration.leaos.find-out-more' | translate }}</h1>
      <!-- <h2 class="md-subhead" translate="{{ 'brand-integration.leaos.order-online' | translate }}"></h2> -->
    </div>

    <!-- BRAND FAQ  -->
    <div class="md-body-1" layout="column" layout-gt-sm="row" layout-align="center none" layout-align-gt-sm="space-between start" layout-padding layout-wrap>
      <!-- LEFT COLUMN -->
      <div class="lnr-sm-center lnr-sm-no-vertical-space" flex-gt-sm="45" layout="column" layout-margin>
        <div ng-repeat="f in leaos.faqs[1] track by $index">
          <h3 class="md-body-2 lnr-clickable" ng-click="leaos['faq-l'+$index] = !leaos['faq-l'+$index]">{{ f.question | translate}}</h3>
          <div ng-show="leaos['faq-l'+$index]">
            <p>{{ f.answer | translate}}</p>
          </div>
        </div>
      </div>
      <!-- END LEFT COLUMN -->
      <!-- RIGHT COLUMN -->
      <div class="lnr-sm-center lnr-sm-no-vertical-space" flex-gt-sm="45" layout="column" layout-margin>
        <div ng-repeat="f in leaos.faqs[0] track by $index">
          <h3 class="md-body-2 lnr-clickable" ng-click="leaos['faq-r'+$index] = !leaos['faq-r'+$index]">{{ f.question | translate}}</h3>
          <div ng-show="leaos['faq-r'+$index]">
            <p>{{ f.answer | translate}}</p>
          </div>
        </div>
      </div>
      <!-- END RIGHT COLUMN -->

    </div>
    <!-- END BRAND FAQ -->

    <div class="lnr-mh-x2"></div>
  </div>
 <footer></footer>
</md-content>
