 <md-content class="single-column"> 
 
   <div id="slideshow" md-theme="lnr-dark" layout="column" layout-align="center center">
    <ul class="cb-slideshow">
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
      <li><span></span></li>
    </ul>

    <div class="lnr-page-title md-color-white" layout="column" layout-align="center center">
      <div>
        <img ng-src="app/assets/ui_images/brand-integration/motoparilla/logo.png" flex="80"></img><br><br>
      </div>
    </div>
  </div>

  <div class="content" layout-padding>
    <div class="lnr-section-title" layout="column" layout-align="center center">
      <h1 class="md-headline">{{ 'brand-integration.motoparilla.description' | translate }}</h1>
      <h2 class="md-subhead">{{ 'brand-integration.motoparilla.subdescription' | translate }}</h2>
    </div>

    <div class="md-body-1" layout="column" layout-gt-xs="row" layout-align="center none" layout-padding>
      <div flex-gt-xs="33" layout="column" layout-align="none center" layout-margin>
        <img class="md-card-image" src="app/assets/ui_images/brand-integration/motoparilla/icon1.png" alt="">
        <h3  class="md-subhead lnr-center">{{ 'brand-integration.motoparilla.item1-title' | translate }}</h3>
        <p class="lnr-center" translate="{{ 'brand-integration.motoparilla.item1-description' | translate }}"></p>
      </div>

      <div flex-gt-xs="33" layout="column" layout-align="none center" layout-margin>
        <img class="md-card-image" src="app/assets/ui_images/brand-integration/motoparilla/icon2.png" alt="">
        <h3  class="md-subhead lnr-center">{{ 'brand-integration.motoparilla.item2-title' | translate }}</h3>
        <p class="lnr-center" translate="{{ 'brand-integration.motoparilla.item2-description' | translate }}"></p>
      </div>

      <div flex-gt-xs="33" layout="column" layout-align="none center" layout-margin>
        <img class="md-card-image" src="app/assets/ui_images/brand-integration/motoparilla/icon3.png" alt="">
        <h3  class="md-subhead lnr-center">{{ 'brand-integration.motoparilla.item3-title' | translate }}</h3>
        <p class="lnr-center" translate="{{ 'brand-integration.motoparilla.item3-description' | translate }}"></p>
      </div>
    </div>

    <br>
    <md-divider></md-divider>
    <br>

    <h2 class="md-headline lnr-center">{{ 'brand-integration.motoparilla.test-bike' | translate }}</h2>

    <md-content>
      <div flex-gt-xs layout="row" layout-wrap layout-padding layout-align="center center">
        <bike-card ng-repeat="bike in motoparilla.bikes" bike="bike" show-labels="true" flex="100" flex-gt-xs="50" flex-gt-sm="33"></bike-card>
      </div>
    </md-content>

    <br>
    <md-divider></md-divider>
    <div id="testimonials" class="content section" layout-align="start center">
      <div class="lnr-section-title" layout="column" layout-align="center center">
        <h2 class="md-headline">{{ 'shared.testimonials-header' | translate }}</h2>
      </div>  
      <div class="testimonials-container" layout-padding ng-if="motoparilla.testimonials.length">
        <slick settings="motoparilla.slickConfig">   
          <div ng-repeat="testimonial in motoparilla.testimonials"
            class="testimonials-slick-slide" layout="column" layout-align="center center">
            <!-- <img class="testimonials-img" ng-src="{{ testimonial.userImagePath}}"> -->
            <div class="testimonials-text md-subhead">&ldquo;{{ testimonial.text }}&rdquo;</div>
          </div>
        </slick>
      </div>
    </div>

    <br>
    <br>
    <br>
    <md-divider></md-divider>
    <br>

    <div class="lnr-section-title" layout="column" layout-align="center center">
      <h1 class="md-headline">{{ 'brand-integration.motoparilla.find-out-more' | translate }}</h1>
      <h2 class="md-subhead" translate="{{ 'brand-integration.motoparilla.faq-description' | translate }}"></h2>
    </div>

    <div class="md-body-1" layout="column" layout-gt-sm="row" layout-align="center none" layout-padding>
      <div flex-gt-sm="45" layout="column" layout-margin>
        <h3 class="md-body-2 lnr-clickable" ng-click="left1=!left1">{{ 'brand-integration.motoparilla.faq-question-1' | translate }}</h3>
        <div ng-show="left1"><p>{{ 'brand-integration.motoparilla.faq-answer-1' | translate }}</p></div>

        <h3 class="md-body-2 lnr-clickable" ng-click="left2=!left2">{{ 'brand-integration.motoparilla.faq-question-2' | translate }}</h3>
        <div ng-show="left2"><p>{{ 'brand-integration.motoparilla.faq-answer-2' | translate }}</p></div>
      </div>

      <div flex-gt-sm="45" flex-gt-sm-offset="5" layout="column" layout-margin>
        <h3 class="md-body-2 lnr-clickable" ng-click="right1=!right1">{{ 'brand-integration.motoparilla.faq-question-3' | translate }}</h3>
        <div ng-show="right1"><p translate="{{ 'brand-integration.motoparilla.faq-answer-3' | translate }}"></p></div>
      </div>
    </div>
  </div>
  <footer></footer>
</md-content>
