<md-content class="single-column">

  <div id="slideshow" md-theme="lnr-dark" layout="column" layout-align="center center">
    <!-- BRAND SLIDER -->
    <ul class="cb-slideshow cb-slideshow--brand">
      <li ng-repeat="slide in whyte.cbSlider track by $index">
        <span style="background-image: url('{{slide}}')"></span>
      </li>
    </ul>
    <!-- END BRAND SLIDER -->

  </div>

  <div class="content" layout-padding>
    <div class="lnr-section-title" layout="column" layout-align="center center">
      <h1 class="md-headline">{{ 'brand-integration.whyte.title' | translate }}</h1>
      <h2 class="md-subhead">{{ 'brand-integration.whyte.description' | translate }}</h2>
    </div>

    <!-- BRAND PAGE FEATURES -->
    <div class="md-body-1" layout="column" layout-gt-xs="row" layout-align="center none" layout-padding>
      <div flex-gt-xs="33" layout="column" layout-align="none center" layout-margin class="lnr-m-0">
        <img class="md-card-image" src="app/assets/ui_images/brand-integration/whyte/lnr_whyte_top_columns_image_01.jpg" alt="whyte feature 1">
        <h3 class="md-subhead lnr-center">{{ 'brand-integration.whyte.feature-1.title' | translate }}</h3>
        <p class="lnr-center" translate="brand-integration.whyte.feature-1.description"></p>
      </div>

      <div flex-gt-xs="33" layout="column" layout-align="none center" layout-margin class="lnr-m-0">
        <img class="md-card-image" src="app/assets/ui_images/brand-integration/whyte/lnr_whyte_top_columns_image_02.jpg" alt="whyte feature 2">
        <h3 class="md-subhead lnr-center">{{ 'brand-integration.whyte.feature-2.title' | translate }}</h3>
        <p class="lnr-center" translate="brand-integration.whyte.feature-2.description"></p>
      </div>

      <div flex-gt-xs="33" layout="column" layout-align="none center" layout-margin class="lnr-m-0">
        <img class="md-card-image" src="app/assets/ui_images/brand-integration/whyte/lnr_whyte_top_columns_image_03.jpg" alt="whyte feature 3">
        <h3 class="md-subhead lnr-center">{{ 'brand-integration.whyte.feature-3.title' | translate }}</h3>
        <p class="lnr-center" translate="brand-integration.whyte.feature-3.description"></p>
      </div>
    </div>
    <!-- END BRAND PAGE FEATURES -->

    <br>
    <md-divider></md-divider>
    <br>

    <!-- BRAND BIKES -->
    <!-- <h2 class="md-headline lnr-center">{{ 'brand-integration.whyte.test-bike' | translate }}</h2> -->
    <h2 class="md-subhead lnr-center">{{ 'brand-integration.shared.choose-location' | translate }}</h2>


    <div class="lnr-section-title" layout="column" layout-align="center center">
      <md-menu md-position-mode="target bottom">
        <md-button class="md-right-arrow" md-no-ink ng-click="$mdOpenMenu($event)">
          <p class="md-right-arrow md-headline lnr-m-0">&nbsp;&nbsp;{{ whyte.currentShop.cityName }}</p>
        </md-button>
        <md-menu-content width="3">
          <md-menu-item ng-repeat="(city, v) in whyte.cities">
            <md-button ng-disabled="!v.bikes.length" md-no-ink ng-click="whyte.currentShop = whyte.cities[city]">
              <p class="md-subhead lnr-m-0">{{ v.cityName }}</p>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>

    <md-content ng-if="whyte.currentShop.bikes && whyte.currentShop.bikes.length !==0">
      <div flex-gt-xs layout="row" layout-wrap layout-padding layout-align="center center">
        <bike-card ng-repeat="bike in whyte.currentShop.bikes" bike="bike" show-labels="true" flex="100" flex-gt-xs="50" flex-gt-sm="33"></bike-card>
      </div>
    </md-content>

    <div ng-if="!whyte.currentShop.bikes.length">
      <p class="md-subhead lnr-center">{{'shared.no-bikes-found'}}</p>
    </div>
    <!-- END BRAND BIKES -->

    <md-divider class="lnr-mv lnr-mh-x2"></md-divider>

    <div class="lnr-section-title" layout="column" layout-align="center center">
      <h1 class="md-headline">{{ 'brand-integration.whyte.find-out-more.title' | translate }}</h1>
      <h2 class="md-subhead" translate="brand-integration.whyte.find-out-more.description"></h2>
    </div>

    <div class="lnr-mh-x2"></div>
  </div>
  <footer></footer>
</md-content>
