<md-dialog>

  <div show-xs>
    <div class="md-toolbar-tools" layout-align="space-between center">
      <span class="lnr-btn-placeholder"></span>
      <h2 class="lnr-center">{{ 'availability.modal-title' | translate }}</h2>
      <md-button class="md-icon-button" ng-click="availabilityDialog.close()">
        <md-icon md-svg-src="app/assets/ui_icons/icn_close_24.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </div>

  <md-dialog-content class="" layout="column">
    <div class="md-dialog-content" layout="column">
      <form ng-cloak name="availabilityForm" novalidate>
        <div class="availability__list">
          <div layout="row" layout-align="center center" ng-repeat="input in availabilityDialog.inputs">
            <span class="lnr-btn-placeholder"></span>
            <input-range
              lnr-date-picker
              data="input"
              disabled-dates="availabilityDialog.disabledDates"
              requests="availabilityDialog.requests"
              date-on-change="availabilityDialog.changeDate"
              date-on-clear="availabilityDialog.changeDate">
            </input-range>
            <md-button
              ng-if="availabilityDialog.inputs.length > 1 || availabilityDialog.inputs.length === 1 && input.start_date"
              class="md-icon-button md-warn"
              ng-click="availabilityDialog.removeInput($index)">
              <md-icon md-font-icon="fa-times" class="fa fa--lh20"></md-icon>
            </md-button>
            <span ng-if="availabilityDialog.inputs.length === 1 && !input.start_date" class="lnr-btn-placeholder"></span>
          </div>
        </div>
        <div layout="row" layout-align="center center" layout-margin>
          <a class="lnr-link" ng-click="availabilityDialog.addInput()">{{ 'availability.add-another-date' | translate }}</a>
        </div>
        <div layout="row" layout-align="center center" layout-margin>
          <md-button type="submit" class="md-accent md-raised md-confirm-button md-primary" ng-click="availabilityDialog.save(availabilityForm)">
            <span ng-hide="!availabilityDialog.isChanged">{{ 'availability.submit-btn-save' | translate }}</span>
            <span ng-hide="availabilityDialog.isChanged">{{ 'availability.submit-btn' | translate }}</span>
          </md-button>
        </div>
      </form>
    </div>
  </md-dialog-content>
</md-dialog>