<div id="unmergeBikeDialog" layout="column" layout-align="center center">
    <div class="md-dialog-content">
        <h2
            class="md-title lnr-mv-x2"
            translate="listings.unmerge-title"
            translate-values="{bikes_count: unmergeBikeDialog.bikes_count}">
        </h2>
    </div>
    <div class="lnr-mb" layout="column" layout-align="end center">
        <md-button ng-click="unmergeBikeDialog.unmergeBike()" class="md-primary md-confirm-button">{{ 'listings.merge-yes' | translate }}</md-button>
        <md-button ng-click="unmergeBikeDialog.hide()" class="lnr-green-text">{{ 'listings.merge-no' | translate }}</md-button>
    </div>
</div>
