/* Picture Overlay */
body {
  position: relative;
  z-index: 0;
}

.lnr-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 12px 12px 0px -8px;
}

a {
  color: #fefefe !important ;
  font-weight: 500
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container:before {
  content: '';
  display: block;
  float: left;
  padding-top: 66.667%;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container .info-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  color: #FFF;
  cursor: default;
}
.image-container .info-icon {
  background: url(https://s3.eu-central-1.amazonaws.com/listnride-cdn/icons/lnr_shopplugin_info_icon.svg)  no-repeat;
  position: absolute;
  display: block;
  height: 32px;
  margin: 12px 8px 12px 12px;
  width: 32px;
  right: 0;
  cursor: pointer;
  border: transparent;
}

.image-container .close-icon {
  cursor: pointer;
  background: url(https://s3.eu-central-1.amazonaws.com/listnride-cdn/icons/ic_close_black_24px.svg)  no-repeat;
  display: block;
  height: 24px;
  width: 24px;
  position: absolute;
  right: 16px;
}

/*********  Description Overlay ***********/

.image-container .rent-description {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: none;
  background: #fff;
  color:rgb(83, 83, 83);
}

.image-container:hover .rent-description {
  display: block;
  background: #fff;
}

.image-container .rent-description .lnr-content {
  padding: 16px;
  max-height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

.image-container .rent-description .lnr-content .biketitle {
font-size: 20;
font-weight: 800;
}

.image-container .rent-description .rent-description-content {
  overflow-y: auto;
  max-height: 96%;
  padding: 12px 48px 0 16px;
}

.image-container .rent-description .ride-name {
  margin-bottom: 8px;
}

.rent-element-desc {
background: white;
}

.image-container .rent-description .zoom {
  color: #DDD;
  font-size: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -19px;
  height: 50px;
  width: 45px;
  cursor: pointer;
}
.image-container .rent-description .zoom:hover {
  color: #FFF;
}

/*********  Default Overlay ***********/

.image-container .rent-element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}
.image-container:hover .rent-element {
    display: flex;
    background: rgba(0, 0, 0, .4);
}

.image-container .rent-element .lnr-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container .rent-element .lnr-content .biketitle {
  font-size: 20;
  font-weight: 800;
}

.rent-element-desc {
  background: rgba(0, 0, 0, .4);

}

.image-container .rent-element .zoom {
    color: #DDD;
    font-size: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -19px;
    height: 50px;
    width: 45px;
    cursor: pointer;
}
.image-container .rent-element .zoom:hover {
    color: #FFF;
}

/* GENERAL */

.md-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  min-height: 40px;
  min-width: 114px;
  line-height: 40px;
  vertical-align: middle;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  border-color: #ffffff;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  border: 0;
  padding: 0 6px;
  margin: 6px 8px;
  background: transparent;
  white-space: nowrap;
  font-weight: 500;
  font-size: 14px;
  font-style: inherit;
  font-variant: inherit;
  font-family: inherit;
  text-transform: none !important;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: rgba(255, 255, 255, 0.95);
  border: 1px solid rgb(220, 220, 220);
}

.rent-button {
  height: 42px;
  min-width: 148px;
  color: rgba(255, 255, 255, 0.95);
  border: 2px solid #ffffff
}

.rent-button:hover {
  color:rgb(83, 83, 83);
  background-color:#fff;
}


.mdl-card__media {
  background-color: #fff !important
}

.lnr-card-wide.mdl-card {
  width: 100% !important
}

.lnr-card-wide>.mdl-card__menu {
  color: #fff
}

.lnr-card-event>.mdl-card__actions {
  display: flex;
  box-sizing: border-box;
  align-items: center
}

.lnr-card-event>.mdl-card__actions>.material-icons {
  padding-right: 10px !important
}


/* font */

@import url('https://fonts.googleapis.com/css?family=Roboto');
md-card {
  font-family: 'Roboto', sans-serif !important;
}


/* general */

.md-color-foreground {
  color: rgb(85, 85, 85) !important;
}

md-icon.lnr-icn-lrg {
  width: 48px;
  height: 48px;
}
md-icon > img {
    border: none !important;
}
.lnr-margin-left {
  margin-left: 8px;
}
div.lnr-intro-text {
  padding: 40px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif !important;
}
a:link, a:visited, a:active, a:hover, a:focus {
    color: rgb(95, 198, 147) !important;
    text-decoration: none;
}
.md-subhead {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 1.3;
  font-family: 'Roboto', sans-serif !important;
}

.md-headline {
  font-size: 30px;
  font-weight: 400;
  line-height: 32px;
}


/* bike card */

.md-card-image {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

md-card>a>img,
md-card>md-card-header a img,
md-card md-card-title-media a img {
  box-sizing: border-box;
  display: flex;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: 100%;
  height: auto;
  border: none !important;
}

md-card {
  text-align: left;
  box-sizing: border-box !important;;
  cursor: pointer;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  color: rgb(85, 85, 85);
  background-color: rgb(255, 255, 255);
  border-top-color: rgba(206, 212, 216, 0.901961);
  border-right-color: rgba(206, 212, 216, 0.901961);
  border-bottom-color: rgba(206, 212, 216, 0.901961);
  border-left-color: rgba(206, 212, 216, 0.901961);
}

md-card md-card-title {
  padding: 16px;
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  cursor: default;
}

md-card md-card-title md-card-title-text {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  display: flex;
}

md-card md-card-title md-card-title-text .md-subhead {
  font-weight: 500 !important;
}

md-card.lnr-bike-card md-card-title-text span {
  max-width: 92%;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

md-icon {
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  color: rgb(68, 68, 68);
  display: inline-block;
  vertical-align: middle;
  fill: currentcolor;
  height: 24px;
  width: 24px;
  min-height: 24px;
  min-width: 44px;
}

md-icon svg {
  pointer-events: none;
  display: block;
  fill: rgb(85, 85, 85);
}


/* layout */

.layout,
.layout-column,
.layout-row {
  box-sizing: border-box;
  display: flex;
}

.layout-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}

.layout-align-space-around,
.layout-align-space-around-center,
.layout-align-space-around-start,
.layout-align-space-around-end,
.layout-align-space-around-stretch {
  justify-content: space-around;
}

.layout-align-start-start,
.layout-align-center-start,
.layout-align-end-start,
.layout-align-space-between-start,
.layout-align-space-around-start {
  -webkit-box-align: start;
  align-items: flex-start;
  align-content: flex-start;
}

.layout-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0px;
}


/* LOCATION DROPDOWN */

.dropdown-caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #584e4e;
  margin-top: 15px;
}

.lnr-dropdown-button {
  margin: 0px; /* no margin applied. to match with ours input containers */
  text-align: left;
  box-sizing: border-box;
  border-color: rgba(206, 212, 216, 0.9);
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 0 10px 0 16px; /* text inside of the dropdown */
  width: 100%;
  min-width: 138px;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
}

.lnr-dropdown-button:hover,
.lnr-dropdown-button:focus {
  background-color: white;
}

.dropdown-calendar {
  position: relative;
  display: inline-block;
}

.dropdown-payment {
  position: relative;
  display: inline-block;
}

.lnr-dropdown-parent {
  max-width: 172px;
  min-width: 152px;
}

.mdl-grid.mdl-grid--no-spacing > .mdl-cell.lnr-dropdown-parent {
  margin-bottom: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  color: #333;
  z-index: 99; /* below the naigation bar on mobile */
  border-color: rgba(206, 212, 216, 0.9);
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  max-height: 220px;
  min-height: 38px;
  max-width: 172px;
  min-width: 154px;
  font-weight: 400;
  overflow-y: auto;
}

.dropdown-content a {
  color: #584e4e;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/*------------ DATE SELECTION ------------*/

#bike-calendar-loader {
  padding: 42% 45%;
}

#bike-calendar {
  margin: 6px 6px;
}

.date-picker-wrapper {
  font-size: 12px !important;
  width: 100%;
}

.lnr-date-selector {
  padding: 12px 16px;
  cursor: pointer;
}

.lnr-date-selector:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}

/*------------ STATUS LABELS ------------*/

.lnr-bike-card .status-labels {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 35px;
  padding: 13px;
  z-index: 1;
  overflow: hidden;
}

.status-labels__item {
  color: #ffffff;
  background: #7ab2f8;
  padding: 2px 8px;
  font-size: 14px;
  border-radius: 10px;
  white-space: nowrap;
}

.status-labels__item + .status-labels__item {
  margin-left: 3px;
}

.mdl-grid.mdl-grid-align-end,
.layout-align-flex-end {
  align-items: flex-end;
}

.mdl-grid.mdl-grid-justify-center {
  justify-content: center;
}

.lnr-clr-blue {
  color: #7ab2f8;
}

.lnr-week {
  text-transform: capitalize;
  letter-spacing: 2px;
}

.lnr-price {
  border-right: 1px dashed #d3d8dc;
  padding: 0 8px;
}

.lnr-price_num {
  font-size: 20px;
  line-height: 1.2;
}

.lnr-price:last-child {
  border-right: none;
}

/* LOADER */

.lds-dual-ring {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 30px;
  height: 30px;
  margin: 1px;
  border-radius: 50%;
  border: 4px solid #333;
  border-color: #333 transparent #333 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 680px) {
  .dropdown-content {
    min-width: 138px;
  }

  .lnr-price {
    font-size: 12px;
  }

  .lnr-price_num {
    font-size: 16px;
  }
}
