<md-dialog>
  <div show-xs>
    <div class="md-toolbar-tools" layout-align="center center">
      <md-button class="md-icon-button">
        <md-icon></md-icon>
      </md-button>
      <span flex></span>
      <h2 class="md-headline">{{ 'forms.update-password' | translate }}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="changePassword.closeDialog()">
        <md-icon md-svg-src="app/assets/ui_icons/icn_close_24.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </div>
  <md-dialog-content>
    <div class="md-dialog-content" layout="column">
      <div class="tab-content" layout="column">
        <form name="passwordChange" class="lnr-tel-int">
          <div layout="column">
            <md-input-container flex>
              <label>{{ 'forms.old-password' | translate }}</label>
              <!-- ng-blur needs to hide length error until user unfocus input at least one time -->
              <input
                ng-blur="visitedOldPass = true"
                minlength="6"
                ng-maxlength="30"
                required
                type="password"
                ng-model="changePassword.user.old_password"
                name="old_password">
            </md-input-container>
            <md-input-container flex>
              <label>{{ 'forms.new-password' | translate }}</label>
              <input
                ng-blur="visitedOldPass = true"
                minlength="6"
                ng-maxlength="30"
                required
                type="password"
                ng-model="changePassword.user.new_password"
                name="new_password">
            </md-input-container>
            <p class="lnr-text-error md-caption" ng-show="passwordChange.$error.minlength && visitedOldPass">{{"forms.errors.password-length" | translate}}</p>
            <p class="lnr-text-error md-caption" ng-show="passwordChange.$error.maxlength && visitedOldPass">{{"forms.errors.password-length" | translate}}</p>
            <md-button flex class="md-raised md-primary lnr-m-0" ng-disabled="passwordChange.$invalid" ng-click="changePassword.update()">
              <span>{{ 'forms.save-new-password' | translate }}</span>
            </md-button>
          </div>
        </form>
      </div>
    </div>
  </md-dialog-content>

</md-dialog>
