<md-dialog class="lnr-user-modal">
  <form name="updatePasswordForm" ng-submit="updatePasswordDialog.update()">
    <md-dialog-content>
      <div class="md-dialog-content" layout="column" layout-align="center center">
        <md-icon class="lnr-icn-mlrg md-color-primary" md-svg-src="app/assets/ui_icons/icn_safe.svg"></md-icon>
        <h2 class="md-subhead">{{ 'forms.please-change-password' | translate }}</h2>

        <div layout="row" layout-align="space-between center" class="lnr-input-containers lnr-mt-x2" layout-wrap>
          <md-input-container flex flex-xs="100">
            <label>{{ 'forms.new-password' | translate }}</label>
            <input
              ng-model="updatePasswordDialog.new_password"
              type="password"
              name="newPassword"
              required
              md-autofocus
              ng-minlength="6"
              ng-maxlength="30"/>
            <div ng-messages="updatePasswordForm.new_password.$error" role="alert">
              <div ng-message="required">{{ 'forms.errors.password-missing' | translate }}</div>
              <div ng-message="maxlength">{{ 'forms.errors.password-length' | translate }}</div>
              <div ng-message="minlength">{{ 'forms.errors.password-length' | translate }}</div>
            </div>
          </md-input-container>

          <md-input-container flex flex-xs="100">
            <label>{{ 'forms.confirm-password' | translate }}</label>
            <input
              ng-model="updatePasswordDialog.confirm_password"
              type="password"
              name="confirmPassword"
              required
              ng-minlength="6"
              ng-maxlength="30"/>
            <div ng-messages="updatePasswordForm.confirm_password.$error" role="alert">
              <div ng-message="required">{{ 'forms.errors.password-missing' | translate }}</div>
              <div ng-message="maxlength">{{ 'forms.errors.password-length' | translate }}</div>
              <div ng-message="minlength">{{ 'forms.errors.password-length' | translate }}</div>
            </div>
          </md-input-container>
        </div>

        <div class="md-dialog-buttons" layout="row" layout-align="center center">
          <md-button
            type="submit"
            class="md-primary md-raised"
            ng-disabled="updatePasswordForm.$invalid">
            {{ 'forms.save-new-password' | translate }}
          </md-button>
        </div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
